.about {
    height: 110vh;
    width: 100vw;
    justify-content: left;
    color: white;
    background-image: linear-gradient(
                    to bottom right, 
                    rgba(21, 179, 153, 0.5), 
                    rgba(7, 10, 105, 0.5)
                ), 
                url('../assets/art/Forget\ Resized\ Signed-min.jpg');
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
}

.about h1 {
    padding-top: 30vh;
    padding-left: 5vw;
}

.about p {
    padding-left: 5vw;
}

.projects {
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20vh;
}

.project-container {
    width: 20vw;
    height: 20vh;
    margin: 10vh 5vw;
    font-weight: 700;
}

.project-container img {
    width: 100%;
}

.project-description {
    font-size: 14px;
    font-weight: 300;
}

.art {
    display: flex;
    width: 100vw;
    height: 50vh;
    background-image: 
                url('../assets/art/A\ Thousand\ Years\ From\ Now\ Signed-min.jpg');
    background-size: cover;
    background-position-y: 170vh;
    align-items: center;
    color: white;
}

.art h1 {
    padding-left: 10vh;
}
