/*fonts
==============================================================*/
@font-face {
    font-family: "Libre Barcode Text";
    src: url('fonts/Libre_Barcode_128_Text/LibreBarcode128Text-Regular.ttf')
}

@font-face {
    font-family: "WenKai Mono";
    src: url('fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Bold.ttf'),
        url('fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Light.ttf'),
        url('fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular.ttf');
}

/*navigation bar
==============================================================*/
.navbar {
    display: flex;
    flex: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar a {
    display: block;
    float: left;
    color: #af8ce7;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 30px;
    font-family: "Wenkai Mono";
}

.navbar a:hover {
    background-color: #7f81f1;
    color: #ffffff;
}

h1 {
    font-size: 50px;
    font-family: "Wenkai Mono";
}

body {
    margin: 0px;
    padding:0px;
    background-color: #e8dff7;
    text-align: center;
}
p {
    font-family:monospace;
    display: block;
}

/*about
==============================================================*/
.about {
    width: 800px;
    height: 1050px;
    background-color:#f2faf9;
    display: block;
    margin: auto;
    position: relative;
    text-align: right;
    z-index: 1;
}

.about h1 {
    font-family: "Libre Barcode Text";
    font-size: 108px;
    color: #5d9db1;
    font-weight: normal;
    padding: 50px 50px 10px;
    margin: 0px;
    text-align: left;
}

.about p {
    font-family: "WenKai Mono";
    font-size: 24px;
    color:#5d9db1;
    padding-left: 50px;
    text-align: left;
}

.about ul {
    font-family: "WenKai Mono";
    font-size: 24px;
    color:#5d9db1;
    padding-left: 100px;
    text-align: left;
    width:250px;
}

.about a {
    font-family: 'Wenkai Mono'; 
    font-weight: bold; 
    color: #9176db;
}

/*gallery
==============================================================*/
.slider {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 150px 0px;
    margin: 0px;
    perspective: 1000px;
}

.slider .container {
    position: relative;
    transform-style: preserve-3d;
    width: 250px;
    height: 350px;
}

.slider .tile {
    position: absolute;
    left: calc(50vw - 125px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s ease-in-out;
}

.controls {
    position: relative;
    font-size:40px;
    text-align: center;
    padding-bottom: 40px;
}

.controls button {
    background-color:#00000000;
    border-width: 0px;
    color: white;
    font-size: 40px;
    font-family: "WenKai Mono";
}

.controls button:hover {
    cursor: pointer;
}
