
.navbar {
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background: rgba(111, 37, 55, 0.25);
    background-blend-mode: multiply;
}

.navbar a {
    color: white;
    padding: 10px 1.0rem;
}