
.navbar {
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar a {
    color: white;
    padding: 10px 1.0rem;
    position: relative;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 4px;
    height: 2px;
    background: rgb(255, 255, 255);
}