:root {
  --font-majormono: "Major Mono Display", monospace;
  --font-syne: "Syne Mono", monospace;
  --font-kuaile: "ZCOOL KuaiLe", sans-serif;
  font-family: var(--font-majormono), var(--font-kuaile), Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color: rgba(119, 48, 48, 0.87);
  background-color: #f3f2e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #000222;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-majormono);
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px;
}

h2, h3, p {
  font-family: var(--font-syne);
  margin: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
